@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');


@import "tailwindcss";

/* :root {
  --brand-grad: linear-gradient(to right, #8C5D25, #C7913E);
} */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */


body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-grad: linear-gradient(to right, #8C5D25, #C7913E);
}

.grad-bg {
  background: var(--brand-grad);
}

.grad-text {
  background: var(--brand-grad);
  -webkit-background-clip: text;
  color: transparent;
}

.grad-text-rev {
  background: linear-gradient(to right, #C7913E, #8C5D25);;
  -webkit-background-clip: text;
  color: transparent;
}

.grad-border {
  border: 3px solid transparent;
  border-image: var(--brand-grad) 1;
}

.grad-top-border{
  border-top: 0.5px solid transparent;
  border-image: var(--brand-grad) 1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;      
}


.grad-bottom-border{
  border-bottom: 1px solid transparent;
  border-image: var(--brand-grad) 1;
}
.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-track {
  display: inline-flex;
  gap: 40px;
  animation: marquee-right 5s linear infinite;
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%); /* Start outside left */
  }
  100% {
    transform: translateX(0); /* End in center */
  }
}
